.select {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.item {
    /*  display: none;*/
    position: absolute;
    border: 1px solid black;
    padding: 5px;
}

/*
.select.active .item {
    display: block;
}*/
.selected {
    background-color: blue;
    color: white;
}